body {
	margin: 0;
}

#statistics {
	pointer-events: none;
	z-index: 1;
	width: 95vmin;
	height: 95vmin;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	border: rgba(0, 0, 0, 0) solid 5px;
	background-color: rgba(0, 0, 0, 0);
}

.dartCenter {
	width: 10px;
	height: 10px;
	border-radius: 999em;
}

.row div{
	text-align: center;
}

.button {
	-webkit-user-select: none;
	border-radius: 10px;
	color: white;
}

#switch {
	margin-top: 30px;
	font-size: 20px;
}

#dayDisplay {
	border: black solid 2px;
	background-color: #BBB;
}

#preDay {
	background-color: #0FF;
	border: #0FF solid 2px;
}

#preDay:hover {
	background-color: #0CC;
	border: #0CC solid 2px;
}

#nextDay {
	background-color: #0FF;
	border: #0FF solid 2px;
}

#nextDay:hover {
	background-color: #0CC;
	border: #0CC solid 2px;
}

#download {
	background-color: #0F0;
	border: #0F0 solid 2px;
}

#download:hover {
	background-color: #0B0;
	border: #0B0 solid 2px;
}

#subject {
}

#title {
	margin-top: 20px;
	font-size: 20px;
	table-layout: fixed;
}

.reset {
	text-align: center;
	background-color: #E12;
	border: #E12 solid 2px;
}

.reset:hover {
	background-color: #C12;
	border: #C12 solid 2px;
}